/* reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

select {
  margin: 0;
}

/* global css */

:root {
  --transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  /* color */
  --color-primary: #f6cf46;
  --color-secondary: #1ca7ec;
  --color-black: #333333;
}

/* common */

::selection {
  /* color: #fff; */
  background-color: var(--color-primary);
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: var(--color-black);
  line-height: 1.25;
  font-family: "Spoqa Han Sans Neo", "Malgun Gothic", "맑은 고딕", helvetica,
    "Apple SD Gothic Neo", sans-serif !important;
  font-size: 15px;
}

a {
  cursor: pointer;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

b {
  font-weight: bold;
}

button {
  border: none;
  box-shadow: none;
  color: inherit;
  padding: 0;
  margin: 0;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  background: inherit;
  cursor: pointer;
}

img {
  flex-shrink: 0;
  max-width: 100%;
}

button img {
  vertical-align: top;
}

button :disabled {
  cursor: auto;
}

textarea {
  border: 0;
  resize: none;
}

input,
button,
select,
textarea,
a {
  outline: 0;
  font-family: inherit;
}

/* classes */

.ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  max-height: 1.5em;
  line-height: 1.5em;
  -webkit-line-clamp: 1;
}

.bd0 {
  border: 0 !important;
}

.color-primary {
  color: var(--color-primary) !important;
}

.color-secondary {
  color: var(--color-secondary) !important;
}

.row {
  display: flex;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.sc-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.sc-only:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.overflow-auto {
  overflow: auto;
}

/* color labels */

.size-13 {
  width: 13px !important;
  height: 13px !important;
}

.size-24 {
  width: 24px !important;
  height: 24px !important;
}

.size-28 {
  width: 28px !important;
  height: 28px !important;
}

.color-label {
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
}

.color-label--yellow {
  border-color: #e1ce52;
  background-color: #ffeda8;
}

.color-label--green {
  border-color: #75cc65;
  background-color: #ecfeb9;
}

.color-label--purple {
  border-color: #d292e8;
  background-color: #dcc6ff;
}

.color-label--blue {
  border-color: #74b6ce;
  background-color: #bcecff;
}

.color-label--red {
  border-color: #e69b8f;
  background-color: #fec2be;
}

.color-label--white {
  border-color: #e4e4e4;
  background-color: #ffffff;
}

.color-label--beige {
  border-color: #d8d1b1;
  background-color: #f1eddb;
}

.color-label--light-brown {
  border-color: #c5beb0;
  background-color: #dcd8d0;
}

.color-label--brown {
  border-color: #585148;
  background-color: #6b655e;
}

.color-label--black {
  border-color: #000000;
  background-color: #333333;
}

.color-label--darkblue {
  border-color: #343d4e;
  background-color: #4f596b;
}

.color-label--skyblue {
  border-color: #b0d1de;
  background-color: #d0e8f1;
}

.color-label--light-yellow {
  border-color: #e1ce52;
  background-color: #ffeda8;
}

.color-label--gray {
  border-color: #000000;
  background-color: #555555;
}

.color-label--dark-gray {
  border-color: #000000;
  background-color: #333333;
}

/* modal */

.modal {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 580px;
  border: 1px solid #eeeeee;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.modal_custom_folded {
  /* display: flex; */
  position: fixed;
  flex-direction: column;
  width: 480px;
  height: 580px;
  border: 1px solid #eeeeee;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  animation-name: smallOut;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  /* display:none; */
}

@keyframes smallOut {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-300%);
  }
}

@keyframes smallIn {
  from {
    transform: translateY(-300%);
  }

  to {
    transform: translateY(0%);
  }
}

.modal__container {
  width: 100%;
  padding: 0 20px;
}

.modal__close {
  margin-right: -7px;
}

.modal__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  padding: 0 20px;
  border-bottom: 1px solid #eee;
}

.modal__title {
  padding: 13px 20px;
}

.modal__title h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
}

.modal__content {
  flex: 1;
  overflow: auto;
}

.modal-tab {
  display: flex;
}

.modal-tab__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 9px 0 7px;
  flex-shrink: 0;
  border-bottom: 2px solid #e1e1e1;
  line-height: 19px;
  font-size: 15px;
  color: #999;
}

.modal-tab__button--active {
  font-weight: bold;
  border-color: var(--color-secondary);
  color: #333;
}

.modal-empty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-bottom: 30%;
}

.modal-empty p {
  margin-top: 9px;
  font-size: 15px;
  color: #999999;
  opacity: 0.7;
}

.modal__search {
  position: relative;
  padding: 5px 15px;
}

.search_input {
  width: 100%;
  height: 38px;
  padding: 1px 20px 0 43px;
  border: 0;
  border-radius: 8px;
  background-color: #f2f2f2;
}

.search_input::placeholder {
  font-weight: 300;
  color: #999;
  font-size: 15px;
}

.search__submit {
  position: absolute;
  z-index: 2;
  left: 24px;
  top: 50%;
  transform: translate(0, -50%);
}

.search__clear {
  position: absolute;
  z-index: 2;
  right: 24px;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
}

/* inputs */

.range-slider {
  position: relative;
  flex: 1;
}

.range-slider__bar {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  background-color: #e5e5e5;
  cursor: pointer;
}

.range-slider__bar--current {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 2px;
  border-radius: 2px;
  background-color: var(--color-primary);
  pointer-events: none;
}

.range-slider__bar--pointer {
  display: block;
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--color-primary);
  cursor: grab;
}

.range-slider--black .range-slider__bar {
  height: 3px;
  background-color: #e5e5e5;
}

.range-slider--black .range-slider__bar--current {
  height: 3px;
  background-color: #878787;
}

.range-slider--black .range-slider__bar--pointer {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

/* menu */

.menu-more {
  width: 150px;
  padding: 10px 0;
  box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #e1e1e1;
  background-color: #fff;
}

.menu-more__item {
  width: 100%;
}

.menu-more__button {
  width: 100%;
  padding: 16px 23px;
  font-size: 15px;
  text-align: left;
}

.menu-more__button:hover {
  color: var(--color-primary);
}

.menu-more--sm .menu-more__button {
  padding: 8px 15px;
  font-size: 11px;
}

.menu-more--sm {
  width: 120px;
  padding: 5px 0;
}

.modal-content__section {
  padding: 22px 20px 0;
  /* 김병현 수정 두란노 요청 */
  border-bottom: 1px solid #fafafa;
}

.modal-content__section h4 {
  font-size: 13px;
  font-weight: 400;
  color: #999;
  text-align: center;
}

.modal-content__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
  min-height: 24px;
}

.modal-content__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.modal-content__info > li {
  font-size: 11px;
  font-weight: 300;
  color: #999;
}

.modal-content__info > li ~ li:before {
  content: " | ";
  display: inline-block;
  margin: 0 5px;
}

.search__result {
  margin-bottom: -2px;
  font-size: 13px;
  line-height: 1.7;
  letter-spacing: -0.33px;
}

.search__item {
  margin: 16px 0;
}

/* buttons */

.button-more {
  width: 24px;
  height: 24px;
  background: url("../images/btn_more_gray_24.svg") center/contain no-repeat;
}

.highlight-color-1 {
  background-color: #ffeda8;
}

.highlight-color-2 {
  background-color: #bcecff;
}

.highlight-color-3 {
  background-color: #dcc6ff;
}

.highlight-color-4 {
  background-color: #fec2be;
}

.highlight-color-5 {
  background-color: #ecfeb9;
}
