/* header */

.header {
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  overflow: auto;
}

.header--fixed {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  /* transition: var(--transition); */
  animation-duration: 0.5s;
  animation-name: headSlideIn;
  animation-fill-mode: forwards;
}

.header--folded {
  z-index: 10;
  position: fixed;
  display: flex;
  box-shadow: none;
  /* display:none */
  animation-duration: 0.5s;
  animation-name: headSlideOut;
  animation-fill-mode: forwards;
  /* transform: translateY(-100%); */
}

@keyframes headSlideOut {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes headSlideIn {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

.header__inner {
  position: relative;
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  min-width: 1300px;
}

.header__title {
  flex-shrink: 0;
  width: calc(50% - 120px);
  font-weight: 500;
  font-size: 25px;
}

.page-mode {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.page-mode__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 42px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
}

.page-mode__button--active {
  background-color: #e9e9e9;
}

.page-mode__button--single {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.page-mode__button--double {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.action-buttons {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(50% - 120px);
}

.action-buttons li~li {
  /* 김병현 수정 */
  /* margin-left: 20px; */
  margin-left: 10px;
}

.action-buttons__button {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.action-buttons__text {
  display: inline-block;
  /* 김병현 수정 */
  /* margin-left: 5px; */
  margin-left: 3px;
  font-size: 15px;
  white-space: nowrap;
  color: #333;
}

/* content */

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content__container {
  flex: 1;
  position: relative;
}

.content__bookmark {
  position: absolute;
  top: 0;
  right: 22px;
}

/* controller */

.controller--fixed {
  position: fixed;
  z-index: 10;
  top: 100vh;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0 34px 0 60px;
  background-color: #f2f2f2;
  z-index: 10;
  /* transition: var(--transition); */
  animation-duration: 0.5s;
  animation-name: footSlideIn;
  animation-fill-mode: forwards;
}

.controller--folded {
  position: fixed;
  z-index: 10;
  top: 100vh;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0 34px 0 60px;
  background-color: #f2f2f2;
  z-index: 10;
  /* box-shadow: none;
  animation-duration: 0.5;
  animation-name: footSlideOut;
  animation-fill-mode: forwards; */
  /* display:none; */
  /* transform: translateY(100%); */
  box-shadow: none;
  /* display:none */
  animation-duration: 0.5s;
  animation-name: footSlideOut;
  animation-fill-mode: forwards;
  /* transform: translateY(-100%); */
}

@keyframes footSlideOut {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes footSlideIn {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

.page-slider {
  display: flex;
  font-size: 14px;
  color: #999;
  white-space: nowrap;
  margin-right: 20px;
}

.page-slider__text--current {
  color: #333;
  font-weight: bold;
}

.controller-buttons {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.controller-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controller-button__back {
  margin-right: 20px;
}

.controller-button__next {
  margin-left: 35px;
}

/* modal - 목차 */

.chapter__title {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.chapter-item {
  position: relative;
  cursor: pointer;
  padding: 7px 50px;
}

.chapter-item:hover {
  background-color: #f3fbfe;
}

.chapter-item:before {
  content: "";
  display: block;
  position: absolute;
  left: 28px;
  top: 13px;
  z-index: 2;
  width: 4px;
  height: 4px;
  background-color: #999;
  border-radius: 50%;
}

.chapter-item:after {
  content: "";
  display: block;
  position: absolute;
  left: 30px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #eee;
}

.chapter-item:first-child:after {
  top: 6px;
}

.chapter-item:last-child:after {
  bottom: 17px;
}

.chapter-item__title {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  max-height: 1.26em !important;
  line-height: 1.26em !important;
}

.chapter-item__page {
  font-size: 13px;
  color: #999;
}

/* modal - 형광펜 */

.modal-highlight {
  /*김병현 추가 크기 맞추기  */
  width: 230px;
  /* height: 175px; */
  padding: 20px;
  box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #e1e1e1;
  background-color: #fff;
}

.highlight__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.highlight__button {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  vertical-align: top;
}

.highlight__text-button {
  display: block;
  width: 100%;
  padding: 14px 0;
  font-size: 20px;
  text-align: left;
}

.highlight__text-button:hover {
  color: var(--color-primary);
}

/* modal - 독서노트 - 전체 */

.note-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 16px 0px 0;
}

.note-item~.note-item {
  border-top: 1px solid #eee;
}

.note-item__label {
  position: relative;
  top: 1px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.note-item__label button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-item__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.note-item__content>p {
  font-size: 13px;
  line-height: 1.4;
  white-space: pre-wrap;
}

.memo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 9px;
  padding: 14px;
  border-radius: 8px;
  color: #999;
  background-color: #f2f2f2;
}

.memo__inner {
  display: flex;
  align-items: flex-start;
}

.memo__icon {
  position: relative;
  top: 3px;
  margin-right: 15px;
}

.memo__text {
  font-size: 13px;
  line-height: 1.5;
  white-space: pre-wrap;
}

.memo__fold-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px auto 0;
  padding: 4px 0;
  font-size: 13px;
  color: #555;
}

.memo__fold-button img {
  margin-left: 9px;
}

.memo__fold-button__spread>img {
  transform: rotate(180deg);
}

.edit-memo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edit-memo__textarea {
  width: 100%;
  height: 68px;
  padding: 8px;
  border: 1px solid #e5e5e5;
  font-size: 13px;
}

.edit-memo__textarea::placeholder {
  color: #bbb;
}

.edit-memo__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}

.edit-memo__length {
  color: #999;
  font-size: 11px;
}

.edit-memo__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.edit-memo__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 28px;
  padding-top: 1px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 13px;
  color: #999;
  background-color: #fff;
  cursor: pointer;
}

.edit-memo__button~.edit-memo__button {
  margin-left: 5px;
}

.edit-memo__button--black {
  color: #fff;
  border-color: #333;
  background-color: #333;
}

.note-labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 46px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.note-labels>strong {
  display: block;
  margin-right: 5px;
  font-size: 13px;
}

/* 보기 설정 */

.setting {
  /* left: calc(90vw - 400px); */
  /* top: 54px; */
  position: absolute;
  /* 김병현 수정 짤림 마지막 배경색 양족 마진 비슷하게 만들기 위해 420 */
  width: 420px;
  background-color: #fff;
  box-shadow: 15px 15px 25px 0 rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.setting__section~.setting__section {
  border-top: 10px solid #fafafa;
}

.setting__item {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 20px;
  border-bottom: 1px solid #eee;
}

.setting__item:before {
  display: block;
  content: "";
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
}

.setting__paint:before {
  background-image: url("../images/setting_paint.svg");
}

.setting__brightness:before {
  margin-right: 7px;
  background-image: url("../images/setting_brightness.svg");
}

.setting__font:before {
  background-image: url("../images/setting_font.svg");
}

.setting__font-size:before {
  background-image: url("../images/setting_font_size.svg");
}

.setting__line-height:before {
  background-image: url("../images/setting_line_height.svg");
}

.setting__paragraph:before {
  background-image: url("../images/setting_paragraph.svg");
}

.setting__paragraph-width:before {
  background-image: url("../images/setting_paragraph_width.svg");
}

.setting__paragraph-align:before {
  background-image: url("../images/setting_paragraph_align.svg");
}

.setting__flow-page:before {
  background-image: url("../images/setting_flow_page.svg");
}

.setting__flow-scroll:before {
  background-image: url("../images/setting_flow_scroll.svg");
}

.setting__title {
  display: block;
  margin-left: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #000;
  width: 60px
}

.setting__value {
  display: block;
  margin-left: 9px;
  font-size: 12px;
  color: #999;
}

.setting__field {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.highlight-setting {
  display: flex;
  flex-shrink: 0;
}

.highlight-setting li {
  margin-left: 22px;
}

.setting__more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  font-size: 12px;
  color: #999999;
  border: 0;
  text-align: right;
  background-color: #fff;
  box-shadow: none;
}

.setting__more:after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  margin-left: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/arrow-down-gr.svg");
}

.setting__text-button {
  padding-right: 16px;
  margin-left: 12px;
  font-size: 12px;
  color: #999999;
}

.setting__bottom {
  padding: 9px 20px 16px;
  background-color: #fafafa;
}

.setting__bottom>p {
  margin-bottom: 13px;
  font-weight: 300;
  color: #999;
  font-size: 10px;
}

.setting__range {
  -webkit-appearance: none;
  -moz-apperance: none;
  /* border-radius: 6px; */
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, #f4cd43), color-stop(0.00, #e9e9e9));
}

.setting__range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #f4cd43;
  border: 1px solid #f4cd43;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.progress__range {
  width: 100%;
  -webkit-appearance: none;
  -moz-apperance: none;
  /* border-radius: 6px; */
  height: 4px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #878787), color-stop(0, #e9e9e9));
}

.progress__range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.button-user {
  white-space: nowrap;
  color: var(--color-secondary);
  font-size: 13px;
}

.button-reset {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 13px;
}

.button-reset img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

/* reviews */

.review__container {
  margin: 40px 0;
  padding: 0 20px;
}

.review-average {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-average dt {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.4px;
  margin-right: 0;
}

.review-average dd {
  display: flex;
  align-items: center;
  justify-content: revert;
}

.review-average__text {
  padding-top: 1px;
  margin-right: 3px;
  font-size: 15px;
  color: #555;
  font-weight: 500;
}

.review-average__stars {
  display: flex;
  align-items: center;
}

.review-average__stars img {
  width: 22px;
  height: 22px;
}

.review-vote {
  margin: 40px auto 0;
  text-align: center;
}

.review-vote__title {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 300;
}

.stars--primary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars--primary .star {
  width: 26px;
  height: 26px;
}

.stars--primary.small .star {
  width: 16px;
  height: 16px;
}

.review-write__container {
  position: relative;
  width: 100%;
  max-width: 860px;
  margin-top: 34px;
}

.review-write__input {
  width: 100%;
  height: 40px;
  padding: 7px 80px 7px 20px;
  border-radius: 30px;
  border: 0;
  font-weight: 300;
  font-size: 13px;
  background-color: #f1f1f1;
}

.review-write__input::placeholder {
  color: #777;
}

.review-write__submit {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 70px;
  height: 32px;
  border-radius: 30px;
  color: #fff;
  background-color: #4e4e4e;
}

.thumbnail {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.reviews {
  margin-top: 27px;
}

.review-item {}

.review-item__inner {
  padding: 20px 0;
}

.review-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.review-item__name {
  margin-left: 8px;
  font-size: 14px;
  color: #333;
}

.review-item__name b {
  font-weight: 500;
}

.review-item__date {
  margin-left: 8px;
  margin-right: 7px;
  font-weight: 300;
  font-size: 13px;
}

.pin {
  position: relative;
  top: -1px;
  width: 22px;
  height: 22px;
}

.review-item__content {
  padding-left: 48px;
  margin-top: 4px !important;
  font-size: 13px;
  line-height: 1.7;
  color: #555;
}

.review-item.my-review {
  margin: 0 -20px;
  padding: 0 20px;
  background-color: #fafafa;
}

.my-review__buttons {
  display: flex;
  justify-content: flex-end;
}

.my-review__button {
  position: relative;
  display: flex;
  align-items: center;
  height: 24px;
  margin-top: 4px;
  line-height: 1;
  font-size: 12px;
}

.my-review__button~.my-review__button {
  margin-left: 20px;
}

.my-review__button~.my-review__button:before {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  width: 1px;
  height: 13px;
  margin-left: -11px;
  background-color: #e5e5e5;
  pointer-events: none;
}

.my-review__button.edit img {
  width: 15px;
  height: 15px;
  margin-right: 2px;
}

.my-review__button.remove {
  color: #999;
}

.my-review__button.remove img {
  width: 12px;
  height: 12px;
  margin-right: 2px;
}

.review-item.my-review-edit .review-item__inner {
  padding: 30px 0;
}

.my-review-edit__score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-review-edit__score strong {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  color: #333;
}

.my-review-edit__form textarea {
  width: 100%;
  height: 102px;
  margin-bottom: 10px;
  margin-top: 26px;
  padding: 10px 8px;
  border: 1px solid #e5e5e5;
  -webkit-appearance: none;
  color: #555;
  font-size: 13px;
}